@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* whole document styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: steelblue;
}
/* end of whole document styles */

/* hero header styles */
#hero {
    background-image: url("../images/landingpage.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero_background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.50px;
    justify-content: 50px;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

#hero :nth-child(1) {
    animation-delay: 1.5s;
}
#hero h1:nth-child(2) {
    animation-delay: 2.5s;
}
#hero h1:nth-child(3) {
    animation: reveal_name 0.5s ease forwards;
    animation-delay: 3.5s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: lightblue;
    animation: reveal_box 1s ease;
    animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
    animation-delay: 1s;
}
#hero h1:nth-child(2) span {
    animation-delay: 2s;
}
#hero h1:nth-child(3) span {
    animation-delay: 3s;
}

/* #hero h2 {
    display: block;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 100;
    color: white;
} */

#hero button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    color: lightblue;
    background-color: transparent;
    border: 2px solid lightblue;
    font-size: 1.9rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    transition: .3s ease;
    transition-property: background-color, color;
}

#hero button:hover {
    color: black;
    background-color: lightblue;
}
/* end of hero header styles */

/* about section styles */
#about .about-container {
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left .about-img img {
    width: 100%;
    justify-content: center;
}

#about .col-left {
    width: 20%;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 2rem;
    font-weight:600;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}
/* end of about section styles */

/* coaches section styles */
#coaches .coaches-container {
    flex-direction:column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#coaches .coaches-header h1 {
    margin-bottom: 50px;
}

#coaches .coach-intro {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-size:cover;
    background-position:center;
    margin: 10px 10%;
    position: relative;
    color: white;
    z-index: 1;
}

#coaches #ninik-intro {
    background-image: url("/images/sample-bg.jpeg");
}

#coaches #ellicia-intro {
    background-image: url("/images/sample-bg-2.jpg");
}

#coaches #daniil-intro {
    background-image: url("/images/sample-bg-3.jpg");
}

#coaches .coach-intro h1 {
    font-size: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    text-transform:uppercase;
    margin-bottom: 15px;
}

#coaches .coach-intro p {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

#coaches .all-coaches {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#coaches .coach-intro::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: black;
    opacity: .6;
    z-index: -1;
}
/* end of coaches section styles */

/* keyframes */
@keyframes reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes reveal_name {
    100% {
        color: lightblue;
    }
}
/* end of keyframes */

/* light blue, light sky blue, steel blue, dark slate blue, dark blue */
